body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #255F38, #030303);
    color: white;
    min-height: 100vh;
    box-sizing: border-box;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 20px;
}

#search-input {
    padding: 8px;
    font-size: 14px;
    width: 180px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#search-button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 8px;
    background: #333;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

#search-button:hover {
    background: #555;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    max-width: 100%;
    box-sizing: border-box; 
    overflow: hidden; 
}

#logo {
    height: 75px;
    width: 75px;
    cursor: pointer;
}

nav ul {
    list-style: none;
    display: flex; 
    align-items: center;
    margin: 0;
    padding: 0;
    gap: 1rem; 
}

nav ul li a {
    text-decoration: none;
    color: #18230F;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    transition: 0.3s;
}

nav ul li a:hover {
    border: 2px solid #18230F;
    border-radius: 12px;
    color: white;
}

nav .right-items {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-wrap: nowrap; 
}

#menu {
    display: flex; 
    gap: 0.5rem; 
}

#menu a {
    text-decoration: none;
    color: #18230F;
    font-weight: bold;
    font-size: 1rem;
    padding: 5px 10px;
    transition: 0.3s;
}

#menu a:hover {
    border: 2px solid #18230F;
    border-radius: 12px;
    color: white;
}

#carrito-logo {
    height: 35px; 
    width: 35px;
    cursor: pointer;
}

#main-content {
    padding-top: 100px; 
    background: (to bottom, #255F38, #030303);
}

.custom-button {
    background-color: #030303;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.custom-button:hover {
    background-color: gray;
}

#product-list {
    margin-top: 50px; 
}

.product-item {
    background-color: #255F38;
    color: white;
    padding: 1rem;
    margin: 1rem auto;
    border-radius: 8px;
    text-align: center;
    width: 90%; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#card-modal {
    display: none;
    position: fixed;
    top: 50px;
    right: 50px;
    background: #F2F2F2;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    padding: 10px;
    z-index: 1000;
    max-width: 300px;
}

#modal-card-items {
    max-height: 300px; 
    overflow-y: auto; 
    padding: 10px;
}

#clear-card-btn {
    background: #255F38;
    color: #F2F2F2;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#clear-card-btn:hover {
    background: darkgray;
}

#close-modal-btn {
    background: black;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

#close-modal-btn:hover {
    background: gray;
}

#card-count {
    background: black;
    color: #F2F2F2;
    border-radius: 50%;
    padding: 2px 8px;
    position: absolute;
    font-size: 0.8rem;
    top: 0;
    right: 0;
    display: none;
}

#productos-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 15px; 
}

.producto {
    text-align: center;
    background: #255F38;
    padding: 15px;
    border-radius: 10px;
    width: 220px;
    height: 300px;
    transition: transform 0.3s;
    position: relative;
}

.producto img {
    width: 100%;
    max-width: 180px;
    border-radius: 6px;
}

.detalle-producto {
    margin-top: 5px;
    color: white;
    font-size: 14px;
}

.nombre {
    font-size: 16px;
    font-weight: bold;
}

.precio {
    font-size: 14px;
    color: #000000;
}

.agregar-btn {
    display: none; 
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 95%;
    font-size: 14px;
    border-radius: 5px;
    transition: background 0.3s, opacity 0.3s;
    opacity: 0; 
}
.agregar-btn:hover {
    background: #333;
}

.producto:hover .agregar-btn {
    display: block;
    opacity: 1; 
}

#notification {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.hidden {
    display: none;
}

.cart-item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.cart-image {
    width: 60px;
    height: auto;
    border-radius: 5px;
}

.product-info {
    display: flex;
    flex-direction: column;
}